<div class="header">
<mat-toolbar class="header">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="logo" src="https://icon-library.com/images/free-movies-icon/free-movies-icon-16.jpg"
        class="header" width="50" height="50">
    <ul class="menu">
        <li><a style="color:white" routerLink="/pixar" routerLinkActive="active">Pixar</a></li>
        <li><a style="color:white" routerLink="/dream">DreamWorks</a></li>
        <li><a style="color:white" routerLink="/blum">BlumHouse</a></li>
        <li ><a style="color:yellow"  routerLink="/ofertas" >Ganate una cuenta HBO Max</a></li>
        <li><a style="color:white" routerLink="/acercade">Acerca de</a></li>

    </ul>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon><img class="logo" src="https://icon-library.com/images/free-movies-icon/free-movies-icon-16.jpg"
        class="header" width="60" height="60"></mat-icon>
    </button>
  </mat-toolbar>
</div>